<main role="main" class="atlas main snapshot" id="main">

    <div id="sidebar" data-ng-include="'/templates/atlas-menu-bar.html'"></div>

    <div class="menu-mask"
         style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0,0,0,0.1); z-index: 8;"
         data-ng-if="page.menuCollapsed"
         data-ng-click="page.toggleMenu()"></div>

    <div class="panel--container">

        <div class="sidebar" style="height: 0;">
            <div data-ng-include="'/modules/components/atlas/views/panel--view.html'"></div>
        </div>

<!--        <div class="sidebar" style="height: 0;" data-ng-if="page.storedFilters || page.activeFilters">-->
<!--            <div data-ng-include="'/modules/components/atlas/views/create&#45;&#45;view.html'"></div>-->
<!--        </div>-->

<!--        <div class="sidebar" style="height: 0;">-->
<!--            <div data-ng-include="'/modules/components/atlas/views/create&#45;&#45;view.html'"></div>-->
<!--        </div>-->

        <div id="map">

            <div class="mapboxgl-layer-ctrl"
                 data-ng-click="page.showLayerOptions = !page.showLayerOptions" title="Switch layers">
                <i class="material-icons">
                    layers
                </i>
                <div class="layer-group" style="font-weight: normal; font-size: 14px; min-width: 240px;"
                     data-ng-show="page.showLayerOptions">
                    <div id="feature-scope"
                         class="scope--control margin-0" style="padding: 0.5rem 0.75rem; border-bottom: 1px solid
                         #e0e0e0; flex-grow: 1; flex-shrink: 0;"
                         data-ng-if="!page.activeFilters">
                        <div style="flex-grow: 1; flex-shrink: 0;" class="pad-r-1">
                            <strong>Show all my data</strong>
                        </div>
                        <label class="switch" style="flex-grow: 0; flex-shrink: 0; background: #FFFFFF;">
                            <input type="checkbox"
                                   data-ng-model="page.showAllFeatures"
                                   data-ng-checked="page.showAllFeatures"
                                   data-ng-change="page.toggleLayerConstraint()">
                            <div class="slider round"></div>
                        </label>
                    </div>
                    <form>
                        <label data-ng-repeat="style in page.mapStyles"
                               data-ng-class="{'active': page.activeStyle === $index}"
                               style="font-weight: normal;"
                               title="{{ style.name }}">
                            <input type="radio" id="base-style-{{ $index }}" name="active-style"
                                   data-ng-model="page.activeStyle" data-ng-value="{{ $index }}"
                                   data-ng-change="page.switchMapStyle(style, $index)"><span> {{ style.name }}</span>
                        </label>
                    </form>
                    <div style="font-size: .75rem; font-weight: bold; text-transform: uppercase; padding: .5rem
                    .75rem; border-top: 1px solid #e0e0e0;">
                        Layers
                    </div>
                    <form class="layers" data-ng-show="page.layers && page.layers.length">
                        <label for="layer-{{ $index }}" style="font-weight: normal;"
                               data-ng-repeat="layer in page.layers"
                               data-ng-if="layer.id !== 'fd.drainage.polygon' && layer.id !== 'wr.station.point'"
                               data-ng-class="{'active': layer.selected}" title="{{ layer.name }}">
                            <input type="checkbox" id="layer-{{ $index }}" name="layer-{{ $index }}"
                                   data-ng-model="layer.selected" data-ng-value="{{ $index }}"
                                   data-ng-change="page.toggleLayer(layer.id)">
                            <span> {{ layer.name }}</span>
                            <div class="symbol-group" data-ng-if="layer.symbol && layer.symbol.colors">
                                <div class="color" data-ng-repeat="color in layer.symbol.colors"
                                     style="background: {{ color }};"></div>
                            </div>
                        </label>
                        <label for="layer-{{ $index }}" style="font-weight: normal;"
                               data-ng-repeat="layer in page.layers"
                               data-ng-if="layer.id === 'wr.station.point' && $root.user.wr_token"
                               data-ng-class="{'active': layer.selected}" title="{{ layer.name }}">
                            <input type="checkbox" id="layer-{{ $index }}" name="layer-{{ $index }}"
                                   data-ng-model="layer.selected" data-ng-value="{{ $index }}"
                                   data-ng-change="page.toggleLayer(layer.id)">
                            <span> {{ layer.name }}</span>
                            <div class="symbol-group" data-ng-if="layer.symbol && layer.symbol.colors">
                                <div class="color" data-ng-repeat="color in layer.symbol.colors"
                                     style="background: {{ color }};"></div>
                            </div>
                        </label>
                        <label for="layer-{{ $index }}" style="font-weight: normal;"
                               data-ng-repeat="layer in page.layers"
                               data-ng-class="{'active': layer.selected}"
                               data-ng-if="layer.id === 'fd.drainage.polygon' && (page.primaryNode.properties.type === 'site' || page.primaryNode.properties.type === 'practice')"
                               title="{{ layer.name }}">
                            <input type="checkbox" id="layer-{{ $index }}" name="layer-{{ $index }}"
                                   data-ng-model="layer.selected" data-ng-value="{{ $index }}"
                                   data-ng-change="page.toggleLayer(layer.id)">
                            <span> {{ layer.name }}</span>
                            <div class="symbol-group" data-ng-if="layer.symbol && layer.symbol.colors">
                                <div class="color" data-ng-repeat="color in layer.symbol.colors"
                                     style="background: {{ color }};"></div>
                            </div>
                        </label>
                    </form>
                </div>
            </div>

            <div class="mapboxgl-filter-ctrl"
                 data-ng-click="page.showFilterModal = !page.showFilterModal; page.toggleSidebar()"
                 title="Add filters">
                <i class="material-icons">
                    tune
                </i>
            </div>

            <div class="mapboxgl-bookmark-ctrl"
                 data-ng-click="page.startMap()"
                 data-ng-if="page.bookmarkReady"
                 title="Save map">
                <i class="material-icons">
                    bookmark
                </i>
            </div>

        </div>

    </div>

    <section class="privacy-message reveal fade-in t0"
             data-ng-if="!page.status.loading && page.makePrivate">

        <p>
            <i class="material-icons">
                lock
            </i>
        </p>

        <p>This map is private.</p>

    </section>

    <div style="position: fixed; top: 0; right: 0; left: 0; bottom: 0; display: flex; flex-flow: column nowrap;
    justify-content: center; align-items: center;" data-ng-show="page.station"
         data-ng-click="page.station = undefined; page.toggleSidebar()">
        <iframe style="border: 1px solid #e0e0e0; border-radius: 0.5rem; overflow: hidden; min-height: 400px; width:
        100%; max-width: 640px;"
                height="480"
                width="640"
                src=""
                frameBorder="0"
                scrolling="no"></iframe>
    </div>

    <div class="multi-feature-modal-container"
         data-ng-show="page.queryFeatures && page.queryFeatures.length"
         data-ng-click="page.queryFeatures = undefined">
        <div class="multi-feature-modal pad-75p rad-50">
            <div class="title pad-l-50p margin-b-50p">
                <span class="title-text">
                    Multiple features found:
                </span>
                <div class="dismiss-container">
                    <div class="dismiss margin-0"
                         data-ng-click="page.queryFeatures = undefined">
                        <div class="halo"></div>
                        <span class="material-icons">
                        close
                    </span>
                    </div>
                </div>
            </div>
            <ul class="pad-0 margin-0">
                <li class="pad-50p"
                    data-ng-repeat="feature in page.queryFeatures"
                    data-ng-click="page.fetchPrimaryNode(
                        feature.properties.type,
                        feature.properties.id,
                        feature.programId)">
                    <span>
                        {{ feature.properties.name }}
                    </span>
                    <span class="pad-t-25p">
                        {{ feature.properties.type }}
                    </span>
                </li>
            </ul>
        </div>
    </div>

<!--    <div class="atlas-filter-dialog-container"-->
<!--         data-ng-if="page.showFilterModal">-->
<!--        <form class="dialog" style="width: auto;"-->
<!--              data-ng-if="!page.filterSet">-->
<!--            <div class="title">-->
<!--                <span class="title-text" style="font-size: 1.5rem; font-weight: 500;">-->
<!--                    Filters-->
<!--                </span>-->
<!--                <div class="dismiss-container">-->
<!--                    <div class="dismiss"-->
<!--                         data-ng-click="page.showFilterModal = !page.showFilterModal; page.toggleSidebar()">-->
<!--                        <div class="halo"></div>-->
<!--                        <span class="material-icons">-->
<!--                            close-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="inputs" style="overflow: auto;">-->
<!--                <span class="flex prompt margin-b-1">-->
<!--                    Add filter categories to map a subset of your projects. Note that filters override other map-->
<!--                    settings and data, including projects currently in view.-->
<!--                </span>-->
<!--                <div class="pad-b-50p"-->
<!--                     data-ng-repeat="(key, group) in page.filterOptions"-->
<!--                     data-ng-click="page.filterSet = group; page.filterKey = key">-->
<!--                    <div class="pad-b-1"-->
<!--                          style="font-weight: 500; font-size: 1.125rem;">-->
<!--                        {{ key | capitalAttribute }}-->
<!--                    </div>-->
<!--                    <div class="pad-b-1"-->
<!--                         data-ng-if="!group.length">-->
<!--                        <em>No {{ key | replaceChar: '_':' ' }} available.</em>-->
<!--                    </div>-->
<!--                    <div class="pad-b-1 select-filter-btn"-->
<!--                         data-ng-if="group.length && !page.activeFilters[key].length"-->
<!--                         data-ng-click="page.filterSet = group; page.filterKey = key">-->
<!--                        Select {{ key | replaceChar: '_':' ' }} &rarr;-->
<!--                    </div>-->
<!--                    <div data-ng-if="group.length && page.activeFilters[key].length">-->
<!--                        <div class="active-filter-node"-->
<!--                             data-ng-repeat="feature in page.activeFilters[key]">-->
<!--                            {{ feature.name }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="pad-t-50p pad-b-1 select-filter-btn"-->
<!--                         style="font-size: .9rem;"-->
<!--                         data-ng-if="group.length && page.activeFilters[key].length"-->
<!--                         data-ng-click="page.filterSet = group; page.filterKey = key">-->
<!--                        Edit selections &rarr;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="dialog-actions pad-1"-->
<!--                 style="border-top: 1px solid #E0E0E0;">-->
<!--                <div class="pad-r-1"-->
<!--                     style="display: flex; flex-flow: row nowrap; align-items: center; justify-content: flex-start;-->
<!--                     flex-grow: 1; flex-shrink: 1;">-->
<!--                    <button type="button"-->
<!--                            class="cancel"-->
<!--                            data-ng-click="page.resetActiveFilters()">-->
<!--                        Clear all-->
<!--                    </button>-->
<!--                </div>-->
<!--                <button type="button"-->
<!--                        class="cancel"-->
<!--                        data-ng-click="page.showFilterModal = !page.showFilterModal; page.toggleSidebar()">-->
<!--                    Cancel-->
<!--                </button>-->
<!--                <button type="submit" class="confirm"-->
<!--                        data-ng-click="page.captureFilters()">-->
<!--                    Apply-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

<!--    <div class="atlas-filter-dialog-container"-->
<!--         data-ng-if="page.filterSet">-->
<!--        <div class="dialog filter-options">-->
<!--            <div class="title">-->
<!--                <span class="title-text" style="padding-left: 1.5rem; font-size: 1.5rem; font-weight: 500;">-->
<!--                    {{ page.filterKey | capitalAttribute }}-->
<!--                </span>-->
<!--                <div class="dismiss-container">-->
<!--                    <div class="dismiss"-->
<!--                         data-ng-click="page.setFilter(page.filterKey, page.filterSet)">-->
<!--                        <div class="halo"></div>-->
<!--                        <span class="material-icons">-->
<!--                            close-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <input id="filter-option-search"-->
<!--                   type="text"-->
<!--                   data-ng-if="page.filterSet.length > 10"-->
<!--                   data-ng-model="page.filterSearch"-->
<!--                   placeholder="Search by name&hellip;">-->
<!--            <div style="padding: 1rem 1.5rem; overflow: auto;">-->
<!--                <ul class="margin-0 pad-0 margin-b-1">-->
<!--                    <li class="pad-y-50p flex flex-dir-row flex-align-center"-->
<!--                        data-ng-repeat="feature in page.filterSet | filter: page.filterSearch">-->
<!--                        <div>-->
<!--                            {{ feature.name }}-->
<!--                        </div>-->
<!--                        <div data-ng-if="feature.selected"-->
<!--                             data-ng-click="feature.selected = !feature.selected">-->
<!--                            <span class="material-icons">-->
<!--                                check_box-->
<!--                            </span>-->
<!--                        </div>-->
<!--                        <div data-ng-if="!feature.selected"-->
<!--                             data-ng-click="feature.selected = !feature.selected">-->
<!--                            <span class="material-icons">-->
<!--                                check_box_outline_blank-->
<!--                            </span>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

<!--    <div class="atlas-filter-dialog-container"-->
<!--         data-ng-if="page.mapStep === 1">-->
<!--        <form class="dialog map-step" style="width: auto;"-->
<!--              data-ng-submit="page.mapStep = 2">-->
<!--            <div class="title">-->
<!--                <span class="title-text" style="font-size: 1.25rem; font-weight: 500;">-->
<!--                    Create map-->
<!--                </span>-->
<!--                <div class="dismiss-container">-->
<!--                    <div class="dismiss"-->
<!--                         data-ng-click="page.cancelCreate()">-->
<!--                        <div class="halo"></div>-->
<!--                        <span class="material-icons">-->
<!--                            close-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div>-->
<!--                <p class="pad-1 margin-0">-->
<!--                    Save this map for later. Maps stored in your account track data updates and refresh when project-->
<!--                    information or metric summaries change.-->
<!--                </p>-->
<!--            </div>-->
<!--            <div class="dialog-actions pad-1"-->
<!--                 style="border-top: 1px solid #E0E0E0;">-->
<!--                <button type="button"-->
<!--                        class="cancel"-->
<!--                        data-ng-click="page.cancelCreate()">-->
<!--                    Cancel-->
<!--                </button>-->
<!--                <button type="submit" class="confirm">-->
<!--                    Start-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="atlas-filter-dialog-container"-->
<!--         data-ng-if="page.mapStep === 2">-->
<!--        <form class="dialog map-step" style="width: auto;"-->
<!--              data-ng-submit="page.mapStep = 3">-->
<!--            <div class="title">-->
<!--                <span class="title-text" style="font-size: 1.25rem; font-weight: 500;">-->
<!--                    Step 1: Add a name (required)-->
<!--                </span>-->
<!--                <div class="dismiss-container">-->
<!--                    <div class="dismiss"-->
<!--                         data-ng-click="page.cancelCreate()">-->
<!--                        <div class="halo"></div>-->
<!--                        <span class="material-icons">-->
<!--                            close-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <input id="map-name-input"-->
<!--                   type="text"-->
<!--                   style="border-bottom: 0 none;"-->
<!--                   data-ng-model="page.newMap.name"-->
<!--                   placeholder="Enter a name&hellip;">-->
<!--            <div class="dialog-actions pad-1"-->
<!--                 style="border-top: 1px solid #E0E0E0;">-->
<!--                <button type="button"-->
<!--                        class="cancel"-->
<!--                        data-ng-click="page.cancelCreate()">-->
<!--                    Cancel-->
<!--                </button>-->
<!--                <button type="submit" class="confirm"-->
<!--                        data-ng-disabled="!page.newMap.name">-->
<!--                    Next-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="atlas-filter-dialog-container"-->
<!--         data-ng-if="page.mapStep === 3">-->
<!--        <form class="dialog map-step" style="width: auto;"-->
<!--              data-ng-submit="page.mapStep = 4">-->
<!--            <div class="title">-->
<!--                <div class="dismiss-container">-->
<!--                    <div class="dismiss"-->
<!--                         data-ng-click="page.mapStep = 2">-->
<!--                        <div class="halo"></div>-->
<!--                        <span class="material-icons">-->
<!--                            arrow_back-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <span class="title-text pad-0" style="font-size: 1.25rem; font-weight: 500;">-->
<!--                    Step 2: Add a description (optional)-->
<!--                </span>-->
<!--                <div class="dismiss-container">-->
<!--                    <div class="dismiss"-->
<!--                         data-ng-click="page.cancelCreate()">-->
<!--                        <div class="halo"></div>-->
<!--                        <span class="material-icons">-->
<!--                            close-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <p class="pad-1 margin-0"-->
<!--               style="color: #616161; font-size: 0.9em; font-style: normal; margin-top: 0.5em;">-->
<!--                Descriptions may contain up to 500 characters, including spaces and punctuation.-->
<!--                <strong>({{ (page.newMap.description.length || 0) | number }} used)</strong>-->
<!--            </p>-->
<!--            <div class="form-element margin-0" style="overflow: auto; background: #f7f7f7;">-->
<!--                <textarea class="form-control pad-1"-->
<!--                          style="border: 0 none; box-shadow: none; resize: none; background: #f7f7f7;"-->
<!--                          msd-elastic-->
<!--                          data-ng-model="page.newMap.description"-->
<!--                          maxlength="500"-->
<!--                          placeholder="Enter a description&hellip;"-->
<!--                          rows="20">{{ page.newMap.description }}</textarea>-->
<!--            </div>-->
<!--            <div class="dialog-actions pad-1"-->
<!--                 style="border-top: 1px solid #E0E0E0;">-->
<!--                <button type="button"-->
<!--                        class="cancel"-->
<!--                        data-ng-click="page.cancelCreate()">-->
<!--                    Cancel-->
<!--                </button>-->
<!--                <button type="submit" class="confirm">-->
<!--                    Next-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="atlas-filter-dialog-container"-->
<!--         data-ng-if="page.mapStep === 4">-->
<!--        <form class="dialog map-step" style="width: auto;">-->
<!--            <div class="title">-->
<!--                <div class="dismiss-container">-->
<!--                    <div class="dismiss"-->
<!--                         data-ng-click="page.mapStep = 3">-->
<!--                        <div class="halo"></div>-->
<!--                        <span class="material-icons">-->
<!--                            arrow_back-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <span class="title-text pad-0" style="font-size: 1.25rem; font-weight: 500;">-->
<!--                    Step 3: Choose a style (optional)-->
<!--                </span>-->
<!--                <div class="dismiss-container">-->
<!--                    <div class="dismiss"-->
<!--                         data-ng-click="page.cancelCreate()">-->
<!--                        <div class="halo"></div>-->
<!--                        <span class="material-icons">-->
<!--                            close-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="map&#45;&#45;style&#45;&#45;list">-->
<!--                <ul>-->
<!--                    <li data-ng-repeat="style in page.standardStyles"-->
<!--                        data-ng-click="page.setNewMapStyle(style); page.mapStep = 5">-->
<!--                        <div class="thumbnail"-->
<!--                             style="background-image: url({{ style.staticSrc }});"></div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--            <div class="dialog-actions pad-1"-->
<!--                 style="border-top: 1px solid #E0E0E0;">-->
<!--                <button type="button"-->
<!--                        class="cancel"-->
<!--                        data-ng-click="page.cancelCreate()">-->
<!--                    Cancel-->
<!--                </button>-->
<!--                <button type="submit" class="confirm">-->
<!--                    Next-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->
<!--    <div class="atlas-filter-dialog-container"-->
<!--         data-ng-if="page.mapStep === 5">-->
<!--        <form class="dialog map-step" style="width: auto;"-->
<!--              data-ng-submit="page.saveMap()">-->
<!--            <div class="title">-->
<!--                <div class="dismiss-container">-->
<!--                    <div class="dismiss"-->
<!--                         data-ng-click="page.mapStep = 4">-->
<!--                        <div class="halo"></div>-->
<!--                        <span class="material-icons">-->
<!--                            arrow_back-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <span class="title-text pad-0" style="font-size: 1.25rem; font-weight: 500;">-->
<!--                    Step 4: Confirm filters (required)-->
<!--                </span>-->
<!--                <div class="dismiss-container">-->
<!--                    <div class="dismiss"-->
<!--                         data-ng-click="page.cancelCreate()">-->
<!--                        <div class="halo"></div>-->
<!--                        <span class="material-icons">-->
<!--                            close-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="inputs" style="overflow: auto;">-->
<!--                <span class="flex prompt margin-b-1">-->
<!--                    Add filter categories to map a subset of your projects. Note that filters override other map-->
<!--                    settings and data, including projects currently in view.-->
<!--                </span>-->
<!--                <div class="pad-b-50p"-->
<!--                     data-ng-repeat="(key, group) in page.filterOptions"-->
<!--                     data-ng-click="page.filterSet = group; page.filterKey = key">-->
<!--                    <div class="pad-b-1"-->
<!--                         style="font-weight: 500; font-size: 1.125rem;">-->
<!--                        {{ key | capitalAttribute }}-->
<!--                    </div>-->
<!--                    <div class="pad-b-1"-->
<!--                         data-ng-if="!group.length">-->
<!--                        <em>No {{ key | replaceChar: '_':' ' }} available.</em>-->
<!--                    </div>-->
<!--                    <div class="pad-b-1 select-filter-btn"-->
<!--                         data-ng-if="group.length && !page.activeFilters[key].length"-->
<!--                         data-ng-click="page.filterSet = group; page.filterKey = key">-->
<!--                        Select {{ key | replaceChar: '_':' ' }} &rarr;-->
<!--                    </div>-->
<!--                    <div data-ng-if="group.length && page.activeFilters[key].length">-->
<!--                        <div class="active-filter-node"-->
<!--                             data-ng-repeat="feature in page.activeFilters[key]">-->
<!--                            {{ feature.name }}-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="pad-t-50p pad-b-1 select-filter-btn"-->
<!--                         style="font-size: .9rem;"-->
<!--                         data-ng-if="group.length && page.activeFilters[key].length"-->
<!--                         data-ng-click="page.filterSet = group; page.filterKey = key">-->
<!--                        Edit selections &rarr;-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="dialog-actions pad-1"-->
<!--                 style="border-top: 1px solid #E0E0E0;">-->
<!--                <button type="button"-->
<!--                        class="cancel"-->
<!--                        data-ng-click="page.cancelCreate()">-->
<!--                    Cancel-->
<!--                </button>-->
<!--                <button type="submit" class="confirm">-->
<!--                    Save-->
<!--                </button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

    <div atlas-filter-options
         active-filters="page.activeFilters"
         bookmark-ready="page.bookmarkReady"
         dismiss-action="page.toggleSidebar()"
         filter-key="page.filterKey"
         filter-options="page.filterOptions"
         filter-set="page.filterSet"
         modal-display="page.modalDisplay"
         visible="page.showFilterModal"></div>

    <div atlas-filter-set
         active-filters="page.activeFilters"
         bookmark-ready="page.bookmarkReady"
         filter-key="page.filterKey"
         filter-set="page.filterSet"
         modal-display="page.modalDisplay"
         new-map="page.newMap"
         visible="page.filterSet && page.filterSet.length"></div>

    <div create-map
         active-filters="page.activeFilters"
         bookmark-ready="page.bookmarkReady"
         filter-key="page.filterKey"
         filter-options="page.filterOptions"
         filter-set="page.filterSet"
         modal-display="page.modalDisplay"
         new-map="page.newMap"
         post-save="page.loadMaps()"
         visible="page.modalDisplay.creationStep >= 1"></div>

</main>