<!--<div data-ng-include="'/templates/header&#45;&#45;view.html'"></div>-->

<main role="main" class="atlas main snapshot" id="main">

    <div class="panel--container">

        <div class="sidebar" style="height: 0;">
            <div data-ng-include="'/modules/components/atlas/views/panel--view.html'"></div>
        </div>

        <div id="map">

<!--            <div class="sidebar"-->
<!--                 data-ng-class="{collapsed: page.collapsed}"-->
<!--                 data-ng-click="page.toggleSidebar()">-->
<!--                <div data-ng-include="'/modules/components/atlas/views/panel&#45;&#45;view.html'"></div>-->
<!--            </div>-->

            <div class="mapboxgl-layer-ctrl"
                 data-ng-click="page.showLayerOptions = !page.showLayerOptions" title="Switch layers">
                <i class="material-icons">
                    layers
                </i>
                <div class="layer-group" style="font-weight: normal;"
                     data-ng-show="page.showLayerOptions">
                    <form>
                        <label data-ng-repeat="style in page.mapStyles"
                               data-ng-class="{'active': page.activeStyle === $index}"
                               style="font-weight: normal;"
                               title="{{ style.name }}">
                            <input type="radio" id="base-style-{{ $index }}" name="active-style"
                                   data-ng-model="page.activeStyle" data-ng-value="{{ $index }}"
                                   data-ng-change="page.switchMapStyle(style, $index)"><span> {{ style.name }}</span>
                        </label>
                    </form>
                    <form class="layers" data-ng-show="page.layers && page.layers.length">
                        <label for="layer-{{ $index }}" style="font-weight: normal;"
                               data-ng-repeat="layer in page.layers"
                               data-ng-class="{'active': layer.selected}" title="{{ layer.name }}">
                            <input type="checkbox" id="layer-{{ $index }}" name="layer-{{ $index }}"
                                   data-ng-model="layer.selected" data-ng-value="{{ $index }}"
                                   data-ng-change="page.toggleLayer(layer.id)">
                            <span> {{ layer.name }}</span>
                            <div class="symbol-group" data-ng-if="layer.symbol && layer.symbol.colors">
                                <div class="color" data-ng-repeat="color in layer.symbol.colors"
                                     style="background: {{ color }};"></div>
                            </div>
                        </label>
                    </form>
                </div>
            </div>

        </div>

    </div>

<!--    <div class="progress&#45;&#45;modal reveal fade-in t0" data-ng-if="page.status.loading">-->
<!--        <div class="progress&#45;&#45;container">-->
<!--            <p style="font-weight: bold;" class="color-pulse">Loading map data&hellip;</p>-->
<!--        </div>-->
<!--    </div>-->

    <section class="privacy-message reveal fade-in t0"
             data-ng-if="!page.status.loading && page.makePrivate">

        <p>
            <i class="material-icons">
                lock
            </i>
        </p>

        <p>This map is private.</p>

    </section>

</main>

<!--<div data-ng-include="'/templates/footer&#45;&#45;view.html'"></div>-->