<div class="table-view margin-t-2"
     data-ng-if="index.length && visible">

    <table>

        <thead>
            <tr>
                <th class="pad-1">
                    <strong>Name</strong>
                </th>
                <th class="pad-1">
                    <strong>Joined</strong>
                </th>
                <th class="pad-1">
                    <strong>Confirmed</strong>
                </th>
                <th class="pad-1">
                    <strong>Role</strong>
                </th>
                <th class="pad-1">
                    <strong>Access</strong>
                </th>
                <th></th>
            </tr>
        </thead>

        <tbody>

            <tr data-ng-repeat="member in index | filter: q | orderBy: ['-role', 'user.last_name']">
                <td class="pad-1" style="width: 1%; max-width: 20rem;">
                    <div style="display: flex; flex-flow: row nowrap; align-items: center;">
                        <div class="margin-r-1" data-ng-if="member.picture">
                            <div class="user-avatar user-avatar-sm"
                                 style="background-image: url('{{ member.picture }}');"></div>
                        </div>
                        <div class="margin-r-1" data-ng-if="!member.picture">
                            <div class="user-avatar user-avatar-sm"
                                 style="background-image: url('images/avatar-Default-1024x.png');"></div>
                        </div>
                        <span style="display: block; width: auto;">
                            {{ member.user.name | truncate:100 }}
                        </span>
                    </div>
                </td>
                <td class="info-enabled pad-1" style="width: 1%;">
                    <div>
                        <span>
                            <time datetime="{{ member.created_on }}"
                                  title="{{ member.created_on }}">
                                {{ member.created_on | date : 'mediumDate' }} &middot; {{ member.created_on |
                                localTime | date:'h:mm' }} {{ member.created_on | localTime | date:'a' }}
                            </time>
                        </span>
                    </div>
                </td>
                <td class="pad-1" style="width: 1%;">
                    <div class="flex flex-dir-row flex-nwrap flex-align-center">
                        <span class="material-icons margin-r-50p"
                              style="color: #1C81E5;"
                              data-ng-if="member.confirmed">
                            verified_user
                        </span>
                        <span class="material-icons margin-r-50p"
                              style="color: #D44040;"
                              data-ng-if="!member.confirmed">
                            block
                        </span>
                        <span>
                            {{ member.confirmed | boolToString | capitalAttribute }}
                        </span>
                    </div>
                </td>
                <td class="pad-1" style="width: 1%;">
                    <div class="flex flex-dir-row flex-nwrap flex-align-center">
                        <span>
                            {{ member.role | capitalAttribute }}
                        </span>
                    </div>
                </td>
                <td class="pad-1" style="width: 1%;">
                    <div class="flex flex-dir-row flex-nwrap flex-align-center">
                        <span data-ng-if="member.role === 'owner'">
                            Full
                        </span>
                        <span data-ng-if="member.role !== 'owner'">
                            Limited
                        </span>
                    </div>
                </td>
                <td class="pad-1 more-actions" style="width: .01%; overflow: visible;">
                    <div class="action-modal-container">
                        <div class="action-modal" data-ng-if="modalManager.action === member.id">
                            <ul>
                                <li class="delete-trigger" data-ng-click="presentDeletionDialog(member)">
                                    <span class="material-icons margin-r-1"
                                          style="pointer-events: none;">
                                        delete
                                    </span>
                                    <span style="pointer-events: none;">
                                        Delete
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="action-modal-icon"
                             data-ng-if="permissions && permissions.write"
                             data-ng-click="toggleActionModal(member.id)">
                            <div class="halo"></div>
                            <span class="material-icons">
                                more_horiz
                            </span>
                        </div>
                    </div>
                </td>
            </tr>

        </tbody>

    </table>

</div>