<div class="breadcrumb"
     data-ng-class="{'pad-crumb': pad}"
     data-ng-if="!program && !project">
    <div class="no-shrink anchor"
         data-ng-if="rootPath && rootPath.length">
        <a href="/{{ rootPath }}">
            {{ rootPath | capitalAttribute }}
        </a>
        <span>/</span>
    </div>
    <div class="no-shrink anchor"
         data-ng-if="organization && organization.id">
        <a href="/organizations">
            Organizations
        </a>
        <span>/</span>
    </div>
    <div class="no-shrink anchor"
         data-ng-if="organization && organization.id">
        <a href="/organizations/{{ organization.id }}">
            {{ organization.name }}
        </a>
        <span>/</span>
    </div>
    <div class="no-shrink anchor"
         data-ng-if="tail && tail.length">
        {{ tail }}
    </div>
</div>

<div class="breadcrumb"
     data-ng-class="{'pad-crumb': pad}"
     data-ng-if="program && program.id && !project">
    <div class="no-shrink anchor"
         data-ng-if="rootPath && rootPath.length">
        <a href="/{{ rootPath }}">
            {{ rootPath | capitalAttribute }}
        </a>
        <span>/</span>
    </div>
    <div class="no-shrink anchor">
        <a href="/">
            Programs
        </a>
        <span>/</span>
    </div>
    <div style="max-width: {{ basis }}px;">
        <a href="/programs/{{ program.id }}">
            {{ program.name }}
        </a>
        <span data-ng-if="(tail && tail.length) || metric || practiceType">
            /
        </span>
    </div>
    <div class="no-shrink anchor"
         data-ng-if="metric && metric.id">
        <a href="/programs/{{ program.id }}/metrics">
            Metrics
        </a>
        <span>/</span>
    </div>
    <div class="no-shrink anchor"
         data-ng-if="practiceType && practiceType.id">
        <a href="/programs/{{ program.id }}/practice-types">
            Practice types
        </a>
        <span>/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="metric && metric.id">
        <a href="/metrics/{{ metric.id }}">
            {{ metric.name || 'Un-named' }}
        </a>
        <span data-ng-if="tail && tail.length">/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="practiceType && practiceType.id">
        <a href="/practices/{{ practiceType.id }}">
            {{ practiceType.name || 'Un-named' }}
        </a>
        <span data-ng-if="tail && tail.length">/</span>
    </div>
    <div class="no-shrink anchor"
         data-ng-if="tail && tail.length">
        {{ tail }}
    </div>
</div>

<div class="breadcrumb"
     data-ng-class="{'pad-crumb': pad}"
     data-ng-if="project && project.id">
    <div class="no-shrink anchor"
         data-ng-if="rootPath && rootPath.length">
        <a href="/{{ rootPath }}">
            {{ rootPath | capitalAttribute }}
        </a>
        <span>/</span>
    </div>
    <!-- START handling for multiple programs -->
    <div class="no-shrink anchor"
         data-ng-if="programs && programs.length && !site && !practice && !report">
        <a href="/">
            Programs
        </a>
        <span>/</span>
    </div>

    <div style="max-width: {{ basis }}px; z-index:999;position:relative;"
         data-ng-if="programs && programs.length && !site && !practice && !report">

            <a href="/programs/{{ program.id }}" data-ng-if="programs.length == 1">
                {{ programs[0].name }}
            </a>

            <a href="" data-ng-click="toggleProgramDropDown();" data-ng-if="programs.length > 1"
               style="height:24px; margin-right: -6px; margin-left: 0px;">
                Funded by {{programs.length}} programs
                <sub><i class="material-icons" style="position:relative; top: 3px; margin-left: -6px;">expand_more</i></sub>
            </a>

        <span>
            /
        </span>
    </div>

    <form name=""
          class="collection-filter drop-down collection-filter-modal"
         style="width: 400px; background-color: #ffffff;position:absolute; z-index:9999; left:115px; top:65px;
                min-width: 240px;
                max-height: 400px;
                border-radius: 0.5rem;
                border: 1px solid #e0e0e0;
                box-shadow: 1px 1px 6px #aaaaaa;
                overflow-y: auto; "
         data-ng-if="programDropDownVisible">

        <label data-ng-repeat="program in programs track by $index| orderBy: 'name' "
                style ="display: flex; flex-flow: row nowrap;

                    flex-grow: 1;
                    flex-shrink: 0;
                    padding: 1rem;"
               title="{{ program.name }}">

            <span>

                <a href="/programs/{{program.id}}">{{program.name }}</a>

            </span>
        </label>
    </form>

    <div class="no-shrink anchor">
        <a href="/projects"
           data-ng-if="!programs">
            Projects
        </a>
        <!-- This link needs updating-->
        <a href="/projects?program={{ program.id }}"
           data-ng-if="programs && programs.length">
            Projects
        </a>
        <!-- Above link needs updating-->
        <span>/</span>
    </div>
    <!-- END handling for multiple programs -->

    <!-- START legacy for single program model-->
    <!--
   <div class="no-shrink anchor"
         data-ng-if="program && program.id && !site && !practice && !report">
        <a href="/">
            Programs
        </a>
        <span>/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="program && program.id && !site && !practice && !report">
        <a href="/programs/{{ program.id }}">
            {{ program.name }}
        </a>
        <span>
            /
        </span>
    </div>
    <div class="no-shrink anchor">
        <a href="/projects"
           data-ng-if="!program">
            Projects AA
        </a>
        <a href="/projects?program={{ program.id }}"
           data-ng-if="program && program.id">
            Projects BB
        </a>
        <span>/</span>
    </div>
    -->
    <!-- END legacy for single program model-->

    <div style="max-width: {{ basis }}px;">
        <a href="/projects/{{ project.id }}">
            {{ project.name }}
        </a>
        <span data-ng-if="(tail && tail.length) || (practice && practice.id) || (site && site.id)">
            /
        </span>
    </div>
    <div class="no-shrink anchor"
         data-ng-if="site && site.id">
        <a href="/projects/{{ project.id }}/sites">
            Sites
        </a>
        <span>/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="site && site.id">
        <a href="/sites/{{ site.id }}">
            {{ site.name || 'Un-named' }}
        </a>
        <span data-ng-if="(tail && tail.length) || (practice && practice.id)">
            /
        </span>
    </div>
    <div class="no-shrink anchor"
         data-ng-if="!site && practice && practice.id">
        <a href="/projects/{{ project.id }}/practices">
            Practices
        </a>
        <span data-ng-if="!site && practice && practice.id">/</span>
    </div>
    <div class="no-shrink anchor"
         data-ng-if="site && site.id && practice && practice.id">
        <a href="/sites/{{ site.id }}/practices">
            Practices
        </a>
        <span data-ng-if="site && site.id && practice && practice.id">/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="practice && practice.id">
        <a href="/practices/{{ practice.id }}">
            {{ practice.name || 'Un-named' }}
        </a>
        <span data-ng-if="tail && tail.length">/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="report && report.report_date">
        <a href="/reports/{{ report.id }}/edit">
            {{ report.name || (report.report_date | date) }}
        </a>
        <span>/</span>
    </div>
    <div style="max-width: {{ basis }}px;"
         data-ng-if="report && !report.report_date">
        <a href="/reports/{{ report.id }}/edit">
            {{ report.measurement_period }}
        </a>
        <span>/</span>
    </div>
    <div class="no-shrink anchor" style="color: #616161;"
         data-ng-if="tail && tail.length">
        {{ tail }}
    </div>
</div>